.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .col-2 {
    flex:0 0 40%;
  }
  .col-4 {
    flex: 0 0 18%;

    &:is(:first-child) {
      margin-left: 5rem;
    }

    &:is(:last-child) {
      margin-right: 5rem;
    }
  }
  .col-3 {
    flex: 0 0 26%;

    &:is(:first-child) {
      margin-left: 5rem;
    }

    &:is(:last-child) {
      margin-right: 5rem;
    }
  }

}